@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');

.fon{
	background: url(image/6f953e0e473eaa923b12795885da20021.png), 
	url(image/gradient.gif);
	/*linear-gradient(to top, #FFCC00, #009900);*/
	background-attachment: fixed;
	background-position: 100% 100%;
}
header{
	background: url(image/panorama.jpg) top right;
	background-size: cover;
	border: 2px;
	width: 100%;
	height: 276px;
	border-style: double;
	border-width: 2px 2px 2px 2px;
	box-shadow: 1px 6px 12px black;
}
header a{
	font-size: 5em;
	font-family: 'Ruslan Display', cursive;
	color: #FFCC00;
	text-decoration: none;
	padding-top: 50px;
	text-shadow: 2px 2px 8px  green;
}
		/*start vertical menu*/
ul{
	list-style: none;
	margin-left: 50px;
	margin-top: -55px;
	padding: 0;
}
.menu>li{
	float: left;
	font-size: 1.5em;
	color: #DFE6E1;
	position: relative;
	padding: 5px 5px 0;
	margin: 0 50px 0 0;
	border-radius: 5px 5px 0 0;
}
.menu>li:hover:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: -5px;
	left: 0;
	border-radius: 5px 5px 0 0;
	box-shadow: 2px -2px 5px gray, -2px 0 5px gray;
}
.menu>li:hover:after{
	content: "";
	position: absolute;
	top: 100%;
	right: 0;
	bottom: 0;
	height: 7px;
	background: none;
	left: 0;
	z-index: 2;
}
.menu>li:hover>a{
	color: #FFCC00;
	text-decoration: none;
}
.menu>li>ul{
	opacity: 0.90;
	background: #FFCC00;
	display: none;
	position: absolute;
	margin: 5px 0 0 -5px;
}
.menu>li:hover>ul{
	display: block;
	box-shadow: 2px -2px 5px gray, -2px 0 5px gray, 0 2px 5px gray;
}
.menu>li>ul>li{
	margin: 2px 0;
	padding: 0 5px;
	min-width: 150px;
}
.menu>li>ul>li>a{
	display: block;
	width: 100%;
	color: #000;
	text-decoration: none;
}
.menu>li>ul>li>a:hover{
	background: green;
	color: #fff;
}
		/*finish vertical menu*/


.flag{
	padding: 10px;
}
h2{
	font-size: 1.5em;
	color: #006600;
	padding: 90px;
	padding-bottom: 0px;
}
p{
	font-size: 1.2em;
	color: #000;
	padding-left: 13%;
}
h3{
	font-size: 2em;
	color: green;
	font-family: 'Bad Script', cursive;
	line-height: 40%;
	padding-left: 20%;
}
#map {
    height: 400px;
    width: 100%;
}
ol{
	margin-left: 10%;
}
ol>li{
	list-style: none;
	font-size: 1.3em;
	padding-top: 20px;
}
.menu_conditions{
	font-size: 1.1em;
	list-style: circle;
	margin-top: 5px;
	margin-left: 100px;
}
.icon{
	width: 40px;
	height: 40px;
	padding: 8px;
}